.custom-shape-divider-top-1743265266 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1743265266 svg {
    position: relative;
    display: block;
    width: calc(107% + 1.3px);
    height: 180px;
}

.custom-shape-divider-top-1743265266 .shape-fill {
    fill: #D2C0A1;
}
.custom-shape-divider-bottom-1743265412 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1743265412 svg {
    position: relative;
    display: block;
    width: calc(107% + 1.3px);
    height: 180px;
}

.custom-shape-divider-bottom-1743265412 .shape-fill {
    fill: #D2C0A1;
}


.about{
    background-color: #F6F0E2 ;
}

.autoShow{
    animation: autoshowAnimation;
    animation-timeline: view(auto auto);
}

.features-wraper {
    background-color: #f37923;
    background-image: linear-gradient(62deg, #f37923 0%, #ffc400 100%);
    color: #fff;
}

.features-wraper-head h2 {
    text-align: center;
    margin-bottom: 0;
    font-size: 42px;
}


.features-wraper-head {
    margin-bottom: 40px;
}
.section-heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50px;
    height: 4px;
    background-color: #0eb493;
    margin: 0 auto;
}

.section-heading {
    position: relative;
    padding-bottom: 15px;
    margin: 36px 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.trigun_contribution_areas_image{
    height: 500px;
}

@keyframes autoshowAnimation {
    from{
            opacity: 0;
            transform: translateX(-200px) scale(0.3);
    }to{
        opacity:1;
        transform: translateX(0) scale(1);
    }
}

.autoShow2{
    animation: autoshowAnimation2;
    animation-timeline: view(auto auto);
}
@keyframes autoshowAnimation2 {
    from{
            opacity: 0;
            transform: translateX(200px) scale(0.3);
    }to{
        opacity:1;
        transform: translateX(0) scale(1);
    }
}

@media screen and (max-width: 700px) {
    .about-section{
        height: auto;
    }
    .trigun_contribution_areas_image{
        height: 350px;
    }
    .features-wraper-head h2 {
        font-size: 32px;
    }    
  }
