.floating {
    
   
    position: relative;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

input{
    border: 1px solid gray ;
    border-radius: 5px;
}

textarea{
    border: 1px solid gray ;
    border-radius: 5px;
}

@media screen and (max-width: 750px) {
    .contact-section{
        flex-direction: column;
        align-items: center;
    }
    .form-section{
        width: 80vw;
    }
}
@media screen and (max-width: 600px) {
    input, .form-field textarea{
        width: 70vw;
        padding: 5px;
        font-size: 20px;
    }
    button{
        width: 80vw;
        height: 40px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contactimg{
    background-image: url("../assets/contactimg.svg");
    background-repeat: no-repeat;
    background-size: contain;
}