.spacer{
    aspect-ratio: 960/300;
    width:100%;
    background-position: center;
    background-size: cover;
  }
  .layer5{
    background-image: url(../assets/layered-peaks-hero.svg);
  }
  .loader{
    align-self: center;
  }

  @media screen and (max-width: 700px) {
    .product-section{
      flex-direction: column;
      height: auto;
      padding: 30px;
    }
    .product{
      width: 90%;
    }
  }
  @media screen and (max-width: 700px) {
    .upper-text{
      font-size: 50px;
    }
    .lower-text{
      font-size: 20px;
    }
  }
  @media screen and (max-width: 400px) {
    .upper-text{
      font-size: 40px;
    }
    .lower-text{
      font-size: 20px;
    }
  }